body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(169, 166, 166);
    height: 100;
    margin: 0px;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 15px;
    font-size: 45px;
}

.text-center {
   font-size: 25px;
   text-align: justify;
   margin: 45px;
}


/* NAVABAR */

#mySidenav a {
    position: absolute;
    left: 80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: #E65650;
    border-radius: 0 5px 5px 0;
  }
  
  #mySidenav a:hover {
    left: 0;
  }
  
  #home {
    top: 430px;
    background-color: #212121;
  }
  
  #portfolio {
    top: 495px;
    background-color: #212121;
  }
  
  #contact {
    top: 560px;
    background-color: #212121;
  }



  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: right;
    width: 15%;
    padding: 0 20px;
  }
  
  .row {margin: 0 10px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 18px;
    text-align: center;
    background-color: #212121;
    color: #E65650;
  }
  
  .fa {font-size:50px;}
  
  